@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');


body{
    font-family: Public Sans;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}

a{
    text-decoration: none; 
}

.top-section{
    /* border: solid 2px green; */
    display: flex;
    height: 65px;
    align-content: center;
    justify-content: center;
}

.first-section{
    /* border: solid 1px blue; */

    display: flex;
    flex-basis: 100vw;
    justify-content: space-between;
}

.page-logo{

    padding-top: 23px;
    margin-left: 24px;
    width: 140px;
}


.nav-bar,
.invite-button
{
    display: none;
}

.hamburger{
    display: block;
    padding-right: 24px;
    margin: auto 0;
    cursor: pointer;
}


.hamburger div {
    width: 35px;
    height: 3px;
    background-color: hsl(233, 8%, 62%);
    margin: 6px 0;
    transition: 0.4s;
}

.toggle .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .bar2 {
    opacity: 0;
}

.toggle .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
}

.toggle .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1em;
    right: 1.1em;
    margin: 0 auto;
    height: 35vh;
    width: 80vw;
    border-radius: 1em ;
}

.menu li {
    margin-bottom: 10px;
}


.main-section{
    /* border: solid 2px red; */
    
    padding: 0;
    margin: 0;
    display: flex;
    flex-basis: 100vw;
    flex-direction: column-reverse;

}

.main-section .img-button-part{
    /* border: solid 4px blue; */
    height: 282px;
    background-image: url('../images/image-mockups.png'), url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 330px, 100vw 75vh;
    background-position-x: center, center;
    background-position-y: -105px, -40px;

}

.main-section .img-button-part .mock-up{
    display: none;
}



.main-section .first-part{
    /* height: 391px; */
    /* border: solid green 3px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
}
.first-part .part-1{
    /* border: solid 1px blue; */

    
    font-size: 30px;
    width: 283px;
    color: black;
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.first-part .display-line{
    /* border: solid 1px green; */
    
    padding-left: 36px;
    padding-right: 36px;
    
    width: 303px;
    text-align: center;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    font-size: 13px;
    line-height: 16px;
    padding-bottom:88px;
}

.first-part .button-line{

    height:44px;
    width: 168px;
    border-radius:22px;
    
    font-size: 12px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));

}

.features-section{
    /* border: solid 1px blue; */

    display: flex;
    padding-top: 72px;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(220, 16%, 96%);
} 

.features-section .features-line{
    /* border: solid 1px red;    */
    /* width: 1440px;
    margin-top: 110px; */
}
.features-section .features-line .feature-text-1{
    text-align: center;
    font-size: 23px;
    color: black;
}

.features-section .features-line .feature-text-2{
    /* border: solid 1px purple;    */
    width: 300px;
    margin-top: 22px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 0;
}


.features-section .features-line-2{
    /* border: solid 1px blue;   */
    padding-top: 63px;   
    display: flex;
    justify-content: center;
}

.features-section .features-list{

    display: flex;
    flex-basis: 200px;
    flex-direction: column;
}

.features-list .feature{
    /* border: solid 1px red; */
    /* align-self: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features-section .features-list .feature .heading{
    align-self: center;
    padding-top: 35px;
    font-size: 18px;
    color: black;
}


.features-section .features-list .feature .text{
    /* border: solid 1px green; */
    align-self: center;

    line-height: 25px;
    font-size: 14px;
    padding-top: 29px;
    margin-bottom: 37px;
}

.Articles-section{
    /* border: solid 1px red; */
    
    display: flex;
    flex-direction: column;
}

.Articles-heading{
    /* border: solid 1px black; */

    align-self: center;
    font-size: 23px;
    color: black;
}

.Articles-section .Articles-heading .heading-text{
    /* border: solid 1px red; */
    
    padding-top: 100px;
    padding-bottom: 42px;

    font-size: 32px;
    color: black;
}

.Articles-section .Articles-content .Article-container{
    /* border: solid 2px green; */
    display: flex;
    flex-basis: 375px;
    flex-direction: column;
    align-items: center;
}

.Articles-section .Articles-content .Article-container .Article{
    
    /* border: solid 1px green; */
    
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-basis:  330px;  

    /* padding-bottom: 131px; */
    /* align-items: center; */
}


.Articles-section .Articles-content .Article-container .Article .img{
    /* border: solid 1px red; */
    align-self: center;
    width: 330px;
    height: 200px;
}



.Articles-section .Articles-content .Article-container .Article .author{
    padding-top: 30px;
    align-self: flex-start;
    padding-left: 45px;
    color:  hsl(233, 8%, 62%);
    font-size: 12px;

}

.Articles-section .Articles-content .Article-container .Article .headline{
    width: 262px;
    padding-left: 45px;
    padding-top: 17px;
    font-size: 15px;
    color:  black;

}

.Articles-section .Articles-content .Article-container .Article .headline:hover{
    color: hsl(136, 65%, 51%);
}

.Articles-section .Articles-content .Article-container .Article .articles-text{
   

    padding-left: 45px;
    padding-bottom: 71px;

    width: 262px;
    line-height: 19px;
    padding-top: 16px;
    color:   hsl(233, 8%, 62%);
    font-size: 12.5px;
}

.page-footer{
    margin-top: 65px;
    /* border: solid 2px red; */
    background:  hsl(233, 26%, 24%);
    display: flex;
    flex-basis: 375px;
    flex-direction: column;
    align-items: center;
}

.page-footer .footer-column-1{
    /* border: solid 1px white; */
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    padding-bottom: 37px;
    align-items: center;
}

.page-footer .footer-column-1 .logo-footer{
    /* border: solid 1px red; */

    width: 120px;

}
.page-footer .footer-column-1 .social-icons{
    padding-top: 32px;
    width: 188px;
    display: flex;
    justify-content: space-between;
}

.media-icons:hover {
    filter: invert(37%) sepia(94%) saturate(3005%) hue-rotate(136deg) brightness(97%) contrast(98%);
}

.page-footer .footer-column-2{
    /* border: solid 1px white; */
    display: flex;
    flex-basis : 64px;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 13px;
}

.page-footer .footer-column-2 .about-option{
    padding-top: 36px;
    padding-bottom: 22px;
}

.page-footer .footer-column-2 .contact-option{
    padding-bottom: 23px;
}

.page-footer .footer-column-3{
    /* border: solid 1px white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 13px;
}

.page-footer .footer-column-3 .careers-option{
    padding-top: 22px;
    padding-bottom: 23px;
}

.page-footer .footer-column-3 .support-option{
    padding-bottom: 23px;
}

.page-footer  .option:hover{
    color: hsl(136, 65%, 51%);
}


.page-footer .footer-column-4{
    /* border: solid 1px white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 13px;
    padding-top: 41px;
}

.page-footer .footer-column-4 .footer-invite-button{
    width: 165px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    text-align: center;
    color: white;
    border-radius: 22px;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.page-footer .footer-column-4 .footer-invite-button:hover{
    background: linear-gradient( to right,hsl(137, 54%, 71%),  hsl(192, 67%, 68%));
}


.page-footer .footer-column-4 .policy-option{
    margin-top: 32px;
    margin-bottom: 48px;
    font-size: 14px;
    width: 220px;
    color:  hsl(233, 8%, 62%);
}
