@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap');

body{
    font-family: Public Sans;
    font-size: 18px;
    color: hsl(233, 8%, 62%);
}

a{
    text-decoration: none; 
}

.hamburger{
    display: none;
}

/* FIRST SECTION OF WEB PAGE */

.top-section{
    /* border: solid 1px green; */
    display: flex;
    justify-content: center;
    
}
.first-section{
    /* border: solid 1px blue; */


    display: flex;
    flex-basis: 1440px;
    justify-content: center;

}

.page-logo{
    /* border: solid 1px red; */

    margin-left: 166px;
    width: 395px;
    align-self: center;
}

.nav-bar{
    /* border: solid 1px green; */
    height: 81px;
    display: flex;
    flex-basis: 330px;
    justify-content: space-between;
}

.nav-bar a{
    padding-top: 35px;
    font-size: 12px;
    color: hsl(233, 8%, 62%);
    font-weight: 400;
}

.nav-bar a:hover {
    color: hsl(233, 26%, 24%);
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    background-size:  100% 4%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.invite-button{
    /* border: solid 1px green; */
    
    padding-right: 166px;
    flex-basis: 400px;
    height: 81px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.request-invite{
    display: flex;
    height: 44px;
    flex-basis: 163px;  
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    border-radius: 22px;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.request-invite:hover{
    background: linear-gradient( to right,hsl(137, 54%, 71%),  hsl(192, 67%, 68%));
}


/* MAIN SECTION OF WEB PAGE */

.main-section{
    /* border: solid 2px red; */
    
    padding: 0;
    margin: 0;
    height: 700px;
    display: flex;
    justify-content: center;
}
.main-section .first-part{
    /* border: solid green 1px; */

    display: flex;
    flex-basis: 698px;
    flex-direction: column;
}
.first-part .part-1{
    /* border: solid 1px blue; */

    width: 433px;
    margin-left: 166px;
    margin-top: 179px;

    font-size: 45.9px;
    color: black;
    padding-bottom: 34px;
}
.first-part .display-line{
    /* border: solid 1px green; */
    
    width: 433px;
    margin-left: 166px;
    line-height: 25px;
    font-size: 17px;
    padding-bottom:41px;
}
.first-part .button-line{
    margin-left: 166px;


    height:44px;
    width: 163px;
    border-radius:22px;
    
    font-size: 12px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: white;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));

}
.first-part .button-line:hover{
    background: linear-gradient( to right,hsl(137, 54%, 71%),  hsl(192, 67%, 68%));
}


.main-section .img-button-part{

    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: 1500px 1085px; 
    background-position-x: -85px;
    background-position-y: -280px;
}

.main-section .img-button-part .mock-up{
    object-position: 125px -125px;
}


/* Features Section */
.features-section{
    /* border: solid 1px blue; */

    height: 600px;
    display: flex;
    flex-basis: 1440px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(220, 16%, 96%);

}
.features-section .features-line{
    /* border: solid 1px red;    */
    width: 1440px;
    margin-top: 110px;
}

.features-section .features-line .feature-text-1{
    margin-left: 166px;
    font-size: 30px;
    color: black;
}

.features-section .features-line .feature-text-2{
    /* border: solid 1px purple;    */

    margin-left: 166px;
    margin-top: 34px;
    width: 620px;
    font-size: 17px;
    line-height: 25px;
    padding: 0;
}

.features-section .features-line-2{
    /* border: solid 1px blanchedalmond;   */
    width: 1440px;
    padding-bottom: 110px;
}
.features-section .features-list{

    margin-top: 80px;
    margin-left: 166px;
    display: flex;
}

.features-list .feature{
    /* border: solid 1px red; */
    width: 262px;
}

.features-section .features-list .feature .heading{
    padding-top: 35px;
    font-size: 18px;
    color: black;
}

.features-section .features-list .feature .text{
    /* border: solid 1px green; */
    margin-right: 34px;
    line-height: 25px;
    font-size: 14px;
    padding-top: 35px;
}



/*  Latest Articles section */

.Articles-section{
    /* border: solid 1px red; */
    
    display: flex;
    flex-direction: column;
    
}

.Articles-heading{
    /* border: solid 1px black; */

    align-self: center;
    width: 1440px;
}

.Articles-section .Articles-heading .heading-text{
    margin-top: 100px;
    margin-left: 166px;
    font-size: 32px;
    color: black;
}


.Articles-section .Articles-content{
    /* border: solid 1px red; */
    align-self: center;
    width: 1440px;

    padding-bottom: 110px;
}

.Articles-section .Articles-content .Article-container{
    /* border: solid 1px green; */
    margin-left: 166px;
    display: flex;
}


.Articles-section .Articles-content .Article-container .Article{
    padding-top: 58px ;
    display: flex;
    flex-direction: column;
    flex-basis:  205px;    
    /* border: solid 1px green; */
}

.Articles-section .Articles-content .Article-container .Article .img{
    /* border: solid 1px red; */
    border-radius: 10px;
    width: 255px;
    height: 201px;
    margin-right: 30px;
}

.Articles-section .Articles-content .Article-container .Article .author{
    color:  hsl(233, 8%, 62%);
    font-size: 12px;
    align-self: flex-start;
    padding-left: 27px;
    padding-top: 32px;
}

.Articles-section .Articles-content .Article-container .Article .headline{
    width: 205px;
    padding-top: 17px;
    font-size: 16px;
    color:  black;

    padding-left: 27px;
}

.Articles-section .Articles-content .Article-container .Article .headline:hover{
    color: hsl(136, 65%, 51%);
}


.Articles-section .Articles-content .Article-container .Article .articles-text{
    width: 207px;

    line-height: 19px;
    padding-top: 16px;
    color:   hsl(233, 8%, 62%);
    font-size: 12.5px;

    padding-left: 27px;
}

.page-footer{
    /* border: solid 2px red; */
    background:  hsl(233, 26%, 24%);
    height: 192px;
    display: flex;
    flex-basis: 100vw;
    justify-content: center;
}

.page-footer .footer-column-1{
    /* border: solid 1px white; */
    margin-right: 132px;
    width : 154px;
}

.page-footer .footer-column-1 .logo-footer{
    padding-top: 48px;
}
.page-footer .footer-column-1 .social-icons{
    display :flex;
    flex-basis: 155px;
    justify-content: space-between;
    padding-top: 57px;
}
.media-icons:hover {
    filter: invert(37%) sepia(94%) saturate(3005%) hue-rotate(136deg) brightness(97%) contrast(98%);
  }
.page-footer .footer-column-2{
    /* border: solid 1px white; */
    margin-right: 128px;
    display: flex;
    flex-basis : 64px;
    flex-direction: column;
    align-items: start;
    color: white;
    font-size: 13px;
}

.page-footer .footer-column-2 .about-option{
    padding-top: 55px;
    padding-bottom: 23px;
}
.page-footer .footer-column-2 .contact-option{
    padding-bottom: 23px;
}

.page-footer .footer-column-3{
    /* border: solid 1px white; */
    margin-right: 324px;
    display: flex;
    flex-basis : 94px;
    flex-direction: column;
    align-items: start;
    color: white;
    font-size: 13px;
}

.page-footer .footer-column-3 .careers-option{
    padding-top: 55px;
    padding-bottom: 23px;
}
.page-footer .footer-column-3 .support-option{
    padding-bottom: 23px;
}
.page-footer  .option:hover{
    color: hsl(136, 65%, 51%);
}

.page-footer .footer-column-4{
    /* border: solid 1px white; */
    display: flex;
    flex-basis : 222px;
    flex-direction: column;
    align-items: end;
    color: white;
    font-size: 13px;
}

.page-footer .footer-column-4 .footer-invite-button{
    margin-top: 50px;
    width: 165px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    text-align: center;
    color: white;
    border-radius: 22px;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.page-footer .footer-column-4 .footer-invite-button:hover{
    background: linear-gradient( to right,hsl(137, 54%, 71%),  hsl(192, 67%, 68%));
}

.page-footer .footer-column-4 .policy-option{
    margin-top: 32px;
    font-size: 14px;
    width: 220px;
    color:  hsl(233, 8%, 62%);
}






